/* Space out content a bit */
body {
  padding-top: 0px;
  padding-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Cambria, Georgia, "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei", "Times New Roman", serif;
    margin: 35px 0 20px;
    font-weight: bold;
    display: block;
    line-height: 1;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-font-size: 1024px) {
  .container {
    max-width: 1024px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 1024px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .nav_body {
      padding-left: 20px;
      padding-right: 20px;
  }

}

.article-date {
    font-size: 12px;
}

.article-item-title {
    font-size: 16px;
    margin-left: 10px;
}

#pagination {
    margin: 20px 0 10px;
}

#disqus_thread {
    margin: 50px 0 0;
}

.article-title {
    text-align: center;
    font-size: 2em;
    font-weight: normal;
    margin-top: 20px;
}

.article-meta {
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 20px;
}

.article-tag {
    margin: 30px 0 10px;
}

.article-tag > a {
    margin: 0 20px 0 0;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1em;
}

blockquote {
    font-size: 1em;
}

h2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.tag-cloud {
    padding: 20px 0;
    margin: 0 0 30px 0;
    line-height: 2.5;
}

.tag-cloud > a {
    margin: 20px 40px 20px 0;
}

.collection-name {
    border: none;
}

.nav > li > a {
    padding: 10px 5px;
}

.nav_ul {
    list-style-type: none;
    padding-left: 20px;
}

.nav_li {
    list-style-type: none;
    line-height: 30px;
}

.nav_div {
    width: 350px;
    position: absolute;
    border-right: 1px solid #ccc;
    padding-right: 5px;
    padding-top: 14px;
    overflow-y: auto;
}

.nav_body {
    left: 350px;
    padding-right:40px;
    padding-left: 40px;
    position: relative;
    overflow-y: auto;
    max-width: 1024px;
}

.nav_link {
    color: #000;
    overflow: hidden;
}

.nav_button {
    color: #ccc;
    float: left;
    position: absolute;
    margin-left: -10px;
}

.nav_button:hover {
    color: black;
}
