{% extends "base.html" %}

{% block title %} {{ article.title }} {% endblock %}

{% block main %}

<div class="nav_div">
    <nav>
        <ul class="nav_ul">
            {{ nav|safe }}
        </ul>
    </nav>
</div>


<div class="nav_body">
    <div>
        <span id="identifier" style="display: none">{{ article.identifier }}</span>

        <a id="switch" class="nav_button" href="#">#</a>

        <h1 class="article-title">{{ article.title }}</h1>

        <div class="article-meta">
            發表於 <span class="article-date">{{ article.date|datetime_format }}</span>
            <span id="stats" class="article-category"></span>
            <span class="article-category">
                &nbsp;
            </span>
        </div>
    </div>

    <div class="article-body">
        {{ article.content }}
    </div>

    <div class="article-tag">
        {% for tag in article.tags %}
        <a href="#">#{{ tag }}</a>
        {% endfor %}
    </div>
</div>

<script type="text/javascript">

    function toggle_nav(visible) {
        var nav_node = $(".nav_div");
        var body_node = $(".nav_body");
        var width = $(window).width();
        if (visible) {
            nav_node.show();
            body_node.css('left', '350px');
            if (width > 1000) {
                body_node.css('position', 'absolute');
            } else {
                body_node.css('position', 'relative')
            }
            body_node.css('max-width', width - 350);
            body_node.css('width', width - 350);
        } else {
            nav_node.hide();
            body_node.css('left', '0px');
            body_node.css('position', 'relative');
            body_node.css('max-width', width);
            body_node.css('width', width);
        }
    }

    function toggle_nav_by_width() {
        var width = $(window).width();
        var body_node = $(".nav_body");
        if (width > 1000) {
            toggle_nav(true);
            body_node.css('padding-left', '40px');
            body_node.css('padding-right', '40px');
        } else {
            toggle_nav(false);
            body_node.css('padding-left', '20px');
            body_node.css('padding-right', '20px');
        }
    }

    function toggle_nav_by_visibility() {
        var nav_node = $(".nav_div");
        var display = nav_node.css('display');
        if (display == 'none') {
            toggle_nav(true);
        } else {
            toggle_nav(false);
        }
    }

    $(document).ready(function () {
        $("#switch").click(function () {
            toggle_nav_by_visibility();
        });

        $(".nav_div").css('height', $(window).height());
        $(".nav_body").css('height', $(window).height());

        toggle_nav_by_width();

        window.onresize = function () {
            toggle_nav_by_width();
        }

        var identifier = $('#identifier').html();
        var li = $('#' + identifier);
        var nav = $('.nav_div');

        var offset = li.offset().top - nav.offset().top - 100;
        if (offset < 0) {
            offset = 0;
        }
        nav.scrollTop(offset);

        li.css('color', '#337ab7');
        li.css('font-style', 'italic');
    });
</script>


{% include "stats.html" %}
{% endblock %}
