<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>soliloquize</title>
    <link href="{{ settings.SITE_URL }}" rel="alternate"></link>
    <link href="{{ settings.SITE_URL }}/atom.xml" rel="self"></link>
    <id>{{ settings.SITE }}</id>
    <updated>{{ timestamp }}</updated>
    {% for article in article_list %}
    <entry>
        <title>{{ article.title }}</title>
        <link href="{{ settings.SITE_URL }}/{{ article.url }}" rel="alternate"></link>
        <updated>{{ article.date }}</updated>
        <author>
            <name>{{ settings.AUTHOR }}</name>
        </author>
        <id>{{ article.url }}</id>
        <summary type="html">
            {{ article.content }}
        </summary>
        {% for tag in article.tags %}
            <category term="{{ tag }}"></category>
        {% endfor %}
    </entry>
    {% endfor %}
</feed>