<div class="footer">
    <p>
    &copy; Copyright 2014 - 2018 by <a href="http://blog.soliloquize.org">numerical</a>.
    </p>

    <p>
    Powered by <a href="https://bitbucket.org/soliloquize/plasma">plasma</a>.
    </p>
</div>
