{% extends "base.html" %}

{% block main %}

<div class="article-list">
    {% set year = 0 %}
    {% for article in article_list %}
        {% set current_year = article.date|datetime_format('%Y-%m-%d %H:%M:%S', '%Y') %}
        {% if year != current_year %}
            {% set year = current_year %}
            <h2 class="collection-name">{{ year }}</h2>
        {% endif %}
        {% include "article_list_item.html" ignore missing with context %}
    {% endfor %}
</div>

{% include "pagination.html" ignore missing with context %}

{% endblock %}
