{% extends "base.html" %}

{% block title %} {{ article.title }} {% endblock %}

{% block main %}

<div>
    <h1 class="article-title">{{ article.title }}</h1>
    <div class="article-meta">
        發表於 <span class="article-date">{{ article.date|datetime_format }}</span>
        <span class="article-category">
            &nbsp; | &nbsp; 分類於 <a href="/categories/{{ article.categories|escape_char }}">{{ article.categories }}</a>
        </span>
        <span id="stats" class="article-category"></span>
        <span class="article-category">
            &nbsp;
        </span>
    </div>
</div>

<div class="article-body">
    {{ article.content }}
</div>

<div class="article-tag">
    {% for tag in article.tags %}
        <a href="/tags/{{ tag|escape_char }}">#{{ tag }}</a>
    {% endfor %}
</div>

{% include "disqus.html" %}
{% include "duoshuo.html" %}
{% include "stats.html" %}
{% endblock %}
