<!--<ul class="list-group">-->
    <li class="list-group-item">
      <span class="article-date"> {{ article.date|datetime_format('%Y-%m-%d %H:%M:%S', '%m-%d') }} </span>
      <span class="article-item-title">
        <a class="article-title-link" href="{{ article.url }}">
            {{ article.title }}
        </a>
      </span>
    </li>
<!--</ul>-->