<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block head %}
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>
        {% block title %} {{ SITE_NAME }} {% endblock %}
    </title>
    <link rel="stylesheet" href="/themes/{{ settings.THEME }}/static/css/bootstrap.css"/>
    <link rel="stylesheet" href="/themes/{{ settings.THEME }}/static/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="/themes/{{ settings.THEME }}/static/css/main.css"/>
    <link rel="stylesheet" href="/themes/{{ settings.THEME }}/static/css/pygments-manni.css"/>
    <script src="/themes/{{ settings.THEME }}/static/js/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/themes/{{ settings.THEME }}/static/js/jquery.min.js"><\/script>')</script>
    <script src="/themes/{{ settings.THEME }}/static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/themes/{{ settings.THEME }}/static/js/ie10-viewport-bug-workaround.js"></script>
    {% include "baidu_analyse.html" %}
    {% endblock %}

<body>
    <div class="container">
        <div id="header">
            {% block header %}
                {% include "header.html" %}
            {% endblock %}
        </div>

        <div id="main" class="main">
            {% block main %}
            {% endblock %}
        </div>

        <div id="footer">
            {% block footer %}
                {% include "footer.html" %}
            {% endblock %}
        </div>
    </div>

    <script>
        $('table').attr('class', 'table table-bordered table-striped table-hover');
        $('img').attr('class', 'img-thumbnail center-block');
    </script>
</body>