<div class="header clearfix">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">首页</a></li>
            <li role="presentation"><a href="/tags">標籤</a></li>
            <li role="presentation"><a href="/atom.xml">订阅</a></li>
        </ul>
    </nav>
    <h3 class="text-muted"><a href="/">SOLILOQUIZE</a></h3>
</div>
