<nav id="pagination">
    <ul class="pagination">
        {% if page_info.page > 1 %}
            <li>
                <a class="pagination-pre" href="{{ page_info.base_url + (page_info.page-1)|to_str }}">
                    <span aria-hidden="true"> &laquo; </span>
                </a>
            </li>
        {% endif %}

        {% set skip = False %}
        {% for idx in range(1, page_info.total + 1) %}
            {% if idx == page_info.page %}
                <li class="active">
                    <a href="#">{{ idx }} <span class="sr-only">(current)</span></a>
                </li>
                {% set skip = False %}
            {% elif idx == 1 or idx == page_info.total or idx == page_info.page - 1 or idx == page_info.page + 1 %}
                <li>
                    <a class="pagination-indicator" href="{{ page_info.base_url + idx|to_str }}">
                        {{ idx }}
                    </a>
                </li>
                {% set skip = False %}
            {% else %}
                {% if not skip %}
                {% endif %}
                {% set skip = True %}
            {% endif %}
        {% endfor %}

        {% if page_info.page < page_info.total %}
            <li>
                <a class="pagination-next" href="{{ page_info.base_url + (page_info.page + 1)|to_str }}">
                    <span aria-hidden="true"> &raquo; </span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
