{% extends "base.html" %}

{% block main %}

<div class="tag-cloud">
    <!-- <h2 class="tag-cloud-title">{{ title }}</h2> -->

    {% for tag in tag_list %}
        <a href="{{ tag.url }}" style="font-size: {{ tag.size }}px">{{ tag.name }}</a>
    {% endfor %}
</div>

{% endblock %}
