{% extends "base.html" %}

{% block main %}

<div class="article-list">
    {% if name %}
        <h2 class="collection-name">{{ name }}</h2>
    {% endif %}

    {% for article in article_list %}
        {% include "article_list_item.html" ignore missing with context %}
    {% endfor %}
</div>

{% include "pagination.html" ignore missing with context %}

{% endblock %}
